.up {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--colorbutton);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    z-index: 5;
}